---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: mvp-fluxcd-app
  namespace: flux-system
spec:
  interval: 15s
  path: ./manifests
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: flux-system

